{{ define "pagination" }}
<nav aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
        {{ range $index, $element := .Pages }}
        <!-- {{ .Link }} -->
            {{ if eq .Active "page-item"}}
            <li class="page-item">
                <a class="page-link" hx-get={{ .Link }} hx-trigger="click" hx-target="#film-list">{{ $element.PageNumber }}</a>
            </li>
            {{ else }}
            <li class={{ .Active }} aria-current="page">
                <span class="page-link" hx-get={{ .Link }} hx-trigger="click" hx-target="#film-list">{{ $element.PageNumber }}</span>
            </li>
            {{ end }}
        {{ end }}
    </ul>
</nav>
{{ end }}